<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/admin_style.css">
    <title>Admin Dash</title>
</head>
<body>

<header>
    <div class="headerWrapper">
        <a href="/"><div href="service_app.ejs" class="logoIcon"></div></a>
        <a href="/login"><div class="accountIcon"></div></a>
    </div>
</header>

<main>
    <div class="mainWrapper">
        <div class="loginBox">
            <form action="/login" method="POST">
                <div>
                  <label for="email">Email</label>
                  <input type="email" id="email" name="email" required>
                </div>
                <div>
                  <label for="password">Password</label>
                  <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Login</button>
              </form>
            </div>
    </div>
    
</main>

<footer>
    <p>&copy; 2024 &reg;</p>
</footer>



</body>
</html>
