<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin_style.css">
    <title>Admin Dash</title>
</head>
<body>

    <header>
        <div class="headerWrapper">
            <a href="/"><div class="logoIcon"></div></a>
            <div style="display: flex;">
                <form action="/logout?_method=DELETE"  method="POST"><button class="logoutIcon"></button></form>
                <a href="/admin/dashboard"><div class="accountIcon"></div></a>
            </div>
            
        </div>
    </header>

    <main>
        <div class="mainWrapper">
            <div style="background-color: rgb(73, 73, 73);">
                <div style="background-color: rgb(43, 43, 43); text-align: center; height: 10%; display: flex; justify-content: space-between;">
                    <a href="/admin/dashboard"><button>Return to dashboard</button></a>
                    <button type="button" id="addResource"> + </button>
                    <button type="button" id="saveResources"> SAVE </button>
                </div>
                <div class="resourceFormResourceHolder" id="modifyListingFormResourceHolder">
                    
                    <!-- <div class="resourceElement" id="resourceElement" name="resourceElement">
                        <input type="text" style="width: 30%;" placeholder="Resource Name">
                        <div style="width: 10%;">
                            <div>amount:</div>
                            <input type="number" min="1" class="numBox">
                        </div>
                        <div class="daysWrapper">
                            <div>
                                <div style="text-align: center; width: 100%;">S</div>
                                <input type="checkbox" style="background-color: rgb(38, 0, 255); width: 100%; aspect-ratio: 1; margin: 0;">
                            </div>
                            <div>
                                <div style="text-align: center; width: 100%;">M</div>
                                <input type="checkbox" style="background-color: rgb(38, 0, 255); width: 100%; aspect-ratio: 1; margin: 0;">
                            </div>
                            <div>
                                <div style="text-align: center; width: 100%;">T</div>
                                <input type="checkbox" style="background-color: rgb(38, 0, 255); width: 100%; aspect-ratio: 1; margin: 0;">
                            </div>
                            <div>
                                <div style="text-align: center; width: 100%;">W</div>
                                <input type="checkbox" style="background-color: rgb(38, 0, 255); width: 100%; aspect-ratio: 1; margin: 0;">
                            </div>
                            <div>
                                <div style="text-align: center; width: 100%;">R</div>
                                <input type="checkbox" style="background-color: rgb(38, 0, 255); width: 100%; aspect-ratio: 1; margin: 0;">
                            </div>
                            <div>
                                <div style="text-align: center; width: 100%;">F</div>
                                <input type="checkbox" style="background-color: rgb(38, 0, 255); width: 100%; aspect-ratio: 1; margin: 0;">
                            </div>
                            <div>
                                <div style="text-align: center; width: 100%;">S</div>
                                <input type="checkbox" style="background-color: rgb(38, 0, 255); width: 100%; aspect-ratio: 1; margin: 0;">
                            </div>
                            
                        </div>
                        <div style="width:25%; height: 100%;">
                            <label>Start:</label>
                            <input type="time"><br><br>
                            <label>End:</label>
                            <input type="time">
                        </div>
                        <div style="width:5%; height: 100%;">
                            <button style="width: 100%; aspect-ratio: 1;"></button>
                        </div>
                    </div> -->
                    
                </div>
            </div>
          </form>
            
        </div>
    
    </main>

    

</body>

<script src="/javascript/admin_resource.js"></script>

</html>
