<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin_style.css">
    <title>Admin Dash</title>
</head>
<body>

    <header>
        <div class="headerWrapper">
            <a href="/"><div class="logoIcon"></div></a>
            <a href="/admin/login"><div class="accountIcon"></div></a>
        </div>
    </header>

    <main>
        <div class="mainWrapper">
            <div class="listingsWrapper">


            </div>
        </div>
    
    </main>

    

</body>

<script src="/javascript/admin_dash.js"></script>

</html>
