<h1>Admin Registration</h1>
<form action="/admin/register" method="POST">
  <div>
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" name="firstname" required>
  </div>
  <div>
    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" name="lastname" required>
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
  </div>
  <div>
    <label for="organizationName">Organization Name</label>
    <input type="text" id="organizationName" name="organizationName" required>
  </div>
  <div>
    <label for="organizationDomain">Domain</label>
    <input type="text" id="organizationDomain" name="organizationDomain" required>
  </div>
  <button type="submit">Register</button>
</form>
<a href="/admin/login">Login</a>