<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scheduling App</title>
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
</head>
<body>
  <h1>Scheduling App</h1>
  <h1>Hi <%= name %></h1>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>
 
  <div id="schedule">
    <!-- Schedule content will be rendered here -->
  </div>
  <form id="addEventForm">
    <input type="text" id="eventName" placeholder="Event Name" required>
    <input type="datetime-local" id="eventDateTime" required>
    <button type="submit">Add Event</button>
  </form>

  <!-- JavaScript to handle form submission and dynamic content rendering -->
  <!-- <div id='calendar'></div> -->
  <div id="products"></div>
  <div id="add_products">
    <form id="addProductForm">
      <label for="name">Name </label>
      <input type="text" id="productName" name="name"><br>
      <label for="desc">Description</label>
      <input type="text" id="productDesc" name="desc"><br>
      <label for="price">Price</label>
      <input type="number" id="productPrice" name="price"><br>
      <label for="priceType">Pricing Type</label>
      <select id="productPriceType">
        <option>Flat Rate</option>
        <option>Per Hour</option>
        <option>Per Day</option>
      </select><br>
      <label for="category">Category</label>
      <input type="input" id="productCategory" name="category"><br>
      <label for="image">Image</label>
      <input type="text" id="productImage" name="image"><br>
      <label id="available">Available</label>
      <input type="checkbox" id="productAvailable" name="available"><br>
      <button type="submit" id="submit">Create Product</button>
    </form>
  </div>
  <script src="javascript/script.js" type="text/JavaScript"></script>
</body>
</html>