:root {
    --viewport-width: 50vw;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
.headerWrapper{
    display: flex;
    justify-content: space-between;
    width: 50vw;
    height: 100px;
    margin: 0 auto;
}
.logoIcon{
    background-image: url("../img/logo.png");
    background-size: contain;
    width: 220px;
    height: 100px;

}
.accountIcon{
    background-image: url("../img/accountIcon.png");
    background-size: contain;
    width: 100px;
    height: 100px;
}
.adminDashMainWrapper{
    background-color: #4d4d4d;
    width: var(--viewport-width);
    height: 100vh;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 30% 20%;
}
.AppointmentsListWrapper{
    text-align: center;
    border: 5px solid black;
    grid-area: 1/1/6/1;
    overflow: hidden;
}
.AppointmentsList{
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.CalendarWrapper{
    border: 5px solid black;
    grid-area: 1/2/1/2;
    text-align: center;
}
.Calendar{
    background-color: rgb(43, 43, 43);
    width: 80%;
    aspect-ratio: 7/6;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}
.CalendarHeader{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}
.CalDayActive{
    background-color: white;
    border: 1px solid black;
}
.SelectedAppointment{
    border: 5px solid black;
    overflow: hidden;
}
.AppointmentObject{
    background-color: rgb(114, 114, 114);
    border: 5px solid black;
    width: 100%;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    
}
.AppointmentObjectLarge{
    background-color: rgb(114, 114, 114);
    border: 5px solid black;
    width: 100%;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
}
.SelectedAppointmentList{
    width: 100%;
    height: 95%;
    overflow: scroll;
}
.ButtonHolder{
    border: 5px solid black;
}




.mainWrapper{
    background-color: #4d4d4d;
    max-width: 1000px;
    height: 1000px;
    margin: 0 auto;
}
.loginBox{
    background-color: rgb(173, 173, 173);
    width: 500px;
    height: 500px;
    margin: 0 auto;
}


.listingsWrapper{
    background-color: red;
    height: 100%;
    width: 100%;

    display: grid;
    
    overflow: scroll;
}



main{
    background-image: url("../img/bg.jpg");
    background-size: cover;
}
nav {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
/* Hide the contact form */
#contactForm {
    display: none;
}
#contactContainer {
width: 50%; /* Adjust the width */
margin: 0 auto; /* Center the container horizontally */
}