<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/customer_style.css" >
    <title>Customer Dashboard</title>
</head>
<body>

    <header>
        <div class="headerWrapper">
            <a href="/"><div class="logoIcon"></div></a>
            <div style="display: flex;">
                <form action="/logout?_method=DELETE"  method="POST"><button class="logoutIcon"></button></form>
                <a href="/admin/dashboard"><div class="accountIcon"></div></a>
            </div>
            
        </div>
    </header>

    <main>
        <div class="customerDashMainWrapper">
        </div>
    </main>

    

</body>

<script src="/javascript/customer_all_orders.js" ></script>

</html>
